@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');

body {
  font-family: 'Pixelify Sans', sans-serif;
}
.habilidades .badge {
    font-size: 0.9rem;
    padding: 0.50em 1.0em;
  }

.fondo-proyectos {
    background-color: #f5f5dc; /* Beige clásico */
  }